<!DOCTYPE html>
<html>
  <head>
    <title>Stay With Me</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="google-signin-client_id" content="39654885054-04e3sr2u6v37j0gulp8jc12b8ttrfag9.apps.googleusercontent.com">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%# <script src="https://apis.google.com/js/platform.js" async defer></script> %>
    
  </head>

  <body>
    <%= yield %>
  </body>
</html>
