<!DOCTYPE html>
<html>
  <head>
    <title>Stay With Me</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%# <meta name="google-signin-client_id" content="39654885054-04e3sr2u6v37j0gulp8jc12b8ttrfag9.apps.googleusercontent.com"> %>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAG6FV17jXVfc2d3Gd5VwjFh-lTjlOx3hY&libraries=places"></script>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" charset="UTF-8" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css" />
    <%= javascript_include_tag 'application' %>
    <%# <script src="https://apis.google.com/js/platform.js" async defer></script> %>
    
  </head>

  <body>
    <%= yield %>
  </body>
</html>
